<table style="width: 100%;background-color: #f2f4f6;">
    <tbody>
    <tr>
        <td style="padding: 25px 15px;">
            <div style="width: 100%;text-align: center;">
                <a href="https://www.freelanceofficer.fr/" target="_blank">
                    <img style="max-width:100%;height:auto;" src="{{ absolute_url(asset('build/images/logo.png')) }}" alt="{{ 'email.img.alt.company'|trans }}" width="170px">
                </a>
            </div>
            <table style="width: 100%;">
                <tbody>
                <tr>
                    <td style="padding: 15px;background-color: #fff;border-radius: 2px;">
