<footer class="text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row text-center">
            <p class="col-12 mb-0 footer-freelance-text">© {{ "now"|date("Y") }} FREELANCE OFFICER. TOUS DROITS RÉSERVÉS.</p>
        </div>
    </div>
</footer>
