{% extends 'base.html.twig' %}

{% block title %}Admin V2{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">🎉 Interface Admin V2</h1>
        <p>Bienvenue dans ta nouvelle interface d’administration personnalisée.</p>

        <ul class="list-group mt-4">
            <li class="list-group-item">
                <a href="{{ path('admin_app_user_list') }}">Gérer les utilisateurs</a>
            </li>
            <li class="list-group-item">
                <a href="{{ path('admin_country_list') }}">Gérer les pays</a>
            </li>
        </ul>
    </div>
{% endblock %}
